<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage - Static Site Generator</title>
    </head>
    <body>
        <h1>Welcome to the Homepage</h1>
        <ul>
            <% for (let i = 1; i <= 10; i++) { %>
            <li><a href="site_<%= i %>.html">Site <%= i %></a></li>
            <% } %>
        </ul>
    </body>
</html>
